body,div,a,ul,li,span,select,input{margin:0;padding:0;}
body{background-color:#fcfafa;}
ul{list-style-type:none;}
#head{background-color:#367fa9;width:100%;height:50px;line-height:50px;}
.titles{float:left;width:40%;min-width:300px;text-indent:1em;color:#fff;font-size:26px;}
.user_info{float:right;padding-right:2em;color:#fff;font-size:14px;}
.col1{color:#f08300;}


.datagrid-header td, .datagrid-body td, .datagrid-footer td{border-style: solid;}
#right{
	margin-left:10px;
	padding:10px;
	background: #fff;
	height:auto;
	overflow: auto;
	width:90%;
	float:left;
	margin-left:50px;
}

.right_head{height:50px;line-height:50px;font-size:16px;text-indent:20px;font-weight:bold;ox-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);}
.right_content{padding:20px 10px;background-color:#fff;}
.datagrid-btable,.datagrid-header-inner,.datagrid-htable{width:100%;}
.form{padding:20px;}
.form_items{height:auto;line-height:25px;padding-bottom:10px;overflow:hidden;}
.form_items_btn{height:auto;line-height:25px;padding-bottom:10px;overflow:hidden;}
.form_items_btn input{float:left;}
.form_items label,.form_items_btn label{padding:0 10px;font-size:14px;text-align:right;float:left;}
.form_items input{height:25px;line-height:24px;float:left;}
.form_items .combo{float:left;}
.form_items .a-href{float:left;color:#0081ce;cursor:pointer;font-size:14px;}
.c{display:none;}
.width100{width:100px;}
.width150{width:150px;}
.width180{width:180px;}
.width200{width:200px;}
.width80{width:80px;}
.width60{width:65px;}
.width300{width:250px;}
.width350{width:350px;}
.width500{width:500px;}
.height24{height:24px;}
.height26{height: 26px;}
.login_div{
	width:360px;
	height:auto;
	margin:40px auto;
	background-color:#3c8dbc;
}
#dlg{display:none;}
.sub_btn{
	width:150px;
	height:26px;
	line--height:26px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid transparent;
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
	background-color: #3c8dbc !important;
	color:#fff;
	cursor:pointer;
}
.search_btn_noWidth{
	padding:4px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid transparent;
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
	background-color: #3c8dbc !important;
	color:#fff;
	cursor:pointer;
	text-decoration: none;
}
.sub_btn_noWidth{
	padding:4px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid transparent;
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
	background-color: #3c8dbc !important;
	color:#fff;
	cursor:pointer;
	text-decoration: none;
}
.bk_color,.bk_color2{
	background-color:#eaeaec;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-top:10px;
}
.sub_btn2{
	width:320px;
	margin-left:30px;
	height:26px;
	line--height:26px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid transparent;
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
	background-color: #3c8dbc !important;
	color:#fff;
	cursor:pointer;
	font-size:14px;
}

.login_back{
	width:380px;
	height:auto;
	margin:76px auto;
}
.login_back .left{margin-left:35px;}
.login_back form{
	overflow:hidden;
	margin:0px auto;
	padding:25px 0 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color:#fff;
}
.login_head{
	height:60px;
	line-height:60px;
	text-align:center;
	background-color:#3c8dbc;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color:#fff;
	font-size:24px;
}
.user_info a{fint-size:14px; color:#fff;font-weight:100;text-decoration:none;} 
.user_info a img{vertical-align:middle;}
.ver_code{
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
	background-color: #3c8dbc !important;
	color:#fff;
	cursor:pointer;
	border:0;
	height:30px;
}
.bk_color a{float:left;display:block;color:#333; width:100px;margin:10px 5px 0px 160px;}
.k-edit-field{width:100%;overflow:hidden;padding:10px 0px;}
.k-edit-field label,.k-edit-field input{float:left;}
#isOverride{margin:2px 5px 0px 0px;}
.tr_line{height:auto;ling-height:30px;margin-bottom:10px;}
.tr_line .td_line{padding:10px;display:inline-block; }
.td_line label{line-height:26px;}
.radios label{font-size:14px;}

.postion{
	position: absolute;
	right:10px;
}
.noborder{border:0;border:none;}

.text_url_color{color:red}

.background-logo{background:url(../images/img091.jpg);}
.logo-titles{font-size:40px;font-weight:bold;color:#fff;margin-bottom:20px;text-align:center;}
.bk_color2{text-align:center;}
.bk_color2 a{display:inline-block;padding:4px 10px;}
.panel-header{cursor:pointer;}
#left .header{
	background:linear-gradient(to bottom, #eaf4fc 0px, #e9e7e7 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0)
}
.code_list{
	padding:10px;
	background-color:#eee;
	font-size:12px;
}
.code_list ul,.code_tites{overflow:hidden;}
.code_list ul li{padding:15px 5px;margin-bottom:5px;border-bottom:1px solid #cdcdcd;}
.code_list ul li div{padding:5px 0;}
.code_tites label{float:left;margin-right:10px;}
.code_tites .t{padding:0px 10px 0px 0px;width:200px;}
.code_img .t{padding:0px 10px 0px 0px;width:200px;display:inline-block;margin-right:10px;}
.code_img a{display:inline-block;margin:5px 0px;}
.code_img img{margin-left:77px; vertical-align: middle;border:1px solid #cdcdcd;}
.color_grue{color:#aaa}
.fontw{font-weight:bold;}
.kj-report{margin-top:20px;overflow:hidden;display:inline-block;}
.kj-title{font-size:14px; text-indent:1em; font-weight:bold;border:1px solid #cdcdcd;height:35px;line-height:35px;background: linear-gradient(to bottom, #fdfdfd 0px, #f5f5f5 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);}
.kj-list{border:1px solid #cdcdcd;border-top:none; overflow:hidden;background: linear-gradient(to bottom, #fdfdfd 0px, #f5f5f5 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);}
.kj-list div{float:left;min-width:160px;font-size:14px;padding:10px 2px;border-right:1px solid #cdcdcd;text-indent:1em;}
.kj-list div .l{display:block;}
.kj-list div .l .r{font-size:30px; font-weight:bold;}
.backgr{background-color:#ececec;}
.kj-report li{float:left;padding:10px; width:300px;}
.kj-report li span{display:inline-block;}
.kj-report a{color:#aaa;text-decoration:none;}
.sp1{
	background: url(../images/icon.png);
	width: 50px;
	height: 50px;
}
.sp2{
	background: url(../images/icon.png);
	background-position: 0 -50px;
	width: 50px;
	height: 50px;
}
.sp_font{
	font-size: 24px;
	color: #0081ce;
	text-decoration: none;
}
.form_items_titles{
	text-align:center;
	font-size:24px;
	paading:0;
	margin:0;
}
.form_items_title_txt{
	padding:10px 20px;
	paading:0;
	margin:0;
}

.font10{
	font-size:10px;
}
.l_tool{
	height: 16px;
    margin-top: -8px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 5px;
    width: auto;
}
.l_tool a{
	 display: inline-block;
    height: 16px;
    margin: 0 0 0 2px;
    opacity: 0.6;
    vertical-align: top;
    width: 16px;
}
.l_tool .toola{
	 background: url("images/panel_tools.png") no-repeat scroll -32px 0 rgba(0, 0, 0, 0);
}
.l_tool .tools{
	  background: url("images/panel_tools.png") no-repeat scroll -32px -16px rgba(0, 0, 0, 0);
}

.rights_txt{float:left;}
.nicEdit-panel{line-height:14px;}
#cpm,.a-date{display:none;}
#previewCampaignImg{display:none;}

.row{margin:0 0 20px 0;}
.maTop70{margin-top:70px;}


.tab-tool{width:100%;height:40px;overflow:hidden;}
.tab-tool span.tab-m{display:inline-block;margin:0px 0px 0px 8px;float:right;}
.tab-tool span label{display:inline-block;padding:0px 5px;}
.tab-tool span input{border:1px solid #989a99;height:30px;line-height:30px;-moz-border-radius:3px !important;-webkit-border-radius:3px !important;border-radius:3px !important;}
.tab-tool span.tab-m .combo{border:1px solid #989a99;-moz-border-radius:3px !important;-webkit-border-radius:3px !important;border-radius:3px !important;}

.tab-tool span.tab-m .textbox-text{text-align:center;}

.effect-i{background-color:#fff;overflow:hidden;}
.effect-i  span{width:16.1%;min-width:120px;height:auto;display:inline-block;margin:10px 0;text-align:center;float:left;border-right:1px solid #cfd0d1;}
.effect-i  span  label{display:block;padding:4px 0;}
.effect-i  span.rightB{border:0;}
.effect-i  span.width16{min-width:190px;}

.ti{font-size:16px;}
.nu{font-size:24px;font-weight:bold;}
.pj{color:#777777;}



.effect{background-color:#fff;}
.effect-title{width:100%;text-indent:1em;background-color:#e5e5e5;height:40px;line-height:40px;}

.effect-title label{float:left;font-weight:bold;}
.radios{float:right;margin-right:20px;}
.radioBtn{background:url(../img/radio2.png) no-repeat;cursor: pointer;
    display: inline-block;
    height: 23px;
    line-height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    padding-left: 10px;
    text-align: left;}
.radios  .select{background:url(../img/radio1.png) no-repeat;}



/* update  easyui  style */

#grids .datagrid-btable,#grids .datagrid-header-inner,#grids .datagrid-header-inner table{width:100%;}
.datagrid-header td, .datagrid-body td, .datagrid-footer td{border:none;border:0;}
.datagrid-header, .datagrid-toolbar, .datagrid-pager, .datagrid-footer-inner,.panel-body-noheader{border:0;border:none;}
.datagrid-header{background:#e5e5e5;}
.datagrid-header-row, .datagrid-row{height:35px;}
.datagrid-header .datagrid-cell span{font-size:14px;}
.datagrid .datagrid-pager{border:0;border:none;}
.pagination-info{float:left;}
.datagrid-header-inner,.datagrid-htable{width:100%;}
.datagrid-body table,.datagrid-htable tabel{width:100%;}

