<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style type="text/css">
body {
font-size: 12px;
font-family: "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;
}
</style>
</head>
<body>
<h5>${titleContent}</h5>
<ul>

</ul>
<hr>
<strong style="color:red">test</strong>  

</body>
</html>